<!-- views/partials/navbar.ejs -->
<nav>
    <ul>
        <li><a href="/admin/adc/eventos">Adicionar Evento</a></li>
        <li><a href="/admin/adc/inicio">Adicionar Início</a></li>
        <li><a href="/admin/adc/noticias">Adicionar Notícia</a></li>
        <li><a href="/admin/adc/pesquisas">Adicionar Pesquisa</a></li>
        <li><a href="/admin/adc/promocao">Adicionar Promoção</a></li>
        <li><a href="/admin/adc/footer">Footer</a></li>
        <li><a href="/admin/adc/Videos">Video</a></li>
        <li><a href="/admin/adc/logo">Logo</a></li>
    </ul>
</nav>
