<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Cabeçalho</title>
</head>
<body>
    <div class="section">
        <h2>Header</h2>
        <form action="/cabecalho/salvar" method="POST" enctype="multipart/form-data">
            <label for="logo">Logo:</label>
            <input type="file" id="logo" name="logo" accept="image/*">
            <label for="header-title">Título do Cabeçalho:</label>
            <input type="text" id="header-title" name="headerTitle">
            <input type="submit" value="Salvar">
        </form>
    </div>
</body>
</html>
