<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração</title>
    <link rel="stylesheet" href="mainCss/Main.css">
    <%- include ('../../partials/navbar.ejs') %>
</head>
<body>
    <div class="container">
        <h1>Página de Administração</h1>
        <!-- Conteúdo da página de administração aqui -->
    </div>
</body>
</html>